.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form__container {
  width: 700px;
  height: 300px;
}

.login__form {
  display: flex;
  flex-direction: column;
}