#root {
  background-color: rgba(248,249,250);
}

* {
  box-sizing: border-box;
}

.container {
  height: 4vh;
  min-height: 48px;
}
.login__container, .chat__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
}

.form__container {
  width: 50%;
  background-color: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.left-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login__form button {
  width: 100%;
}

.registration {
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  padding: .5rem 1rem;
}

.registration p {
  margin: 0;
}

.chat {
  display: flex;
  width: 1320px;
  height: 90%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 16.66%;
}

.channels-list {
  height: 100%;
}

.right-panel {
  background-color: white;
  flex-grow: 9;
}

.messages {
  flex-grow: 3000;
  background-color: white;
  overflow: auto;
}

.right-panel__input {
  padding: 16px 48px;
  display: flex;
  background-color: white;
}

.right-panel__input form {
  width: 100%;
}

.right-panel__input {
  flex-grow: 1;
}

.invalid-feedback, .invalid-tooltip {
  display: block !important;
}

.relative {
  position: relative;
  width: 100%;
}

@media (max-width: 1400px) {
  .form__container {
    width: 66%;
  }
}

@media (max-width: 1000px) {
  .form__main {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .form__container {
    width: 90%;
  }

  .left-panel {
    width: 33.3%;
  }
}